<h1 class="centered">Current Score</h1>

<div>
  <div class="scoreCard blue">
    <h2>Team Blue</h2>
  </div>
  <div class="separator">
  </div>
  <div class="scoreCard red">
    <h2>Team Red</h2>
  </div>
</div>

<div>
  <div class="scoreCard score">
    {{getScore((currentMatch$ | async), 'scoreBlue')}}
  </div>
  <div class="separator score">
    :
  </div>
  <div class="scoreCard score">
    {{getScore((currentMatch$ | async), 'scoreRed')}}
  </div>
</div>
<div>
  <div class="score scoreCard blue">
    <a mat-button (click)="incBlue()">+</a>
    <a mat-button (click)="decBlue()">-</a>
  </div>
  <div class="separator score">
  </div>
  <div class="score scoreCard red">
    <a mat-button (click)="incRed()">+</a>
    <a mat-button (click)="decRed()">-</a>
  </div>
</div>

<div>
  <div class="scoreCard">
    <a mat-button (click)="reset()">Reset</a>
    <a mat-button (click)="undo()">Undo</a>
  </div>
  <div class="separator score">
  </div>
  <div class="score scoreCard red">
  </div>
</div>


<!-- TODO make this adapt without refreshing-->
<!--<h1 class="centered">Game-Time</h1>-->
<!--<h2 class="centered">{{getGameTime(currentMatch$ | async)}}</h2>-->

<div class="scoreCard" *ngIf="!(currentMatch$ | async)">
  Currently, no match is running.
</div>


