<mat-card>

  <mat-card-title>Update player</mat-card-title>

  <mat-card-content  *ngIf="player$ | async as player; else loading">

    <app-players-form [player]="player"
                      (accept)="save(player)"
                      (cancel)="navigateBack()"
    ></app-players-form>

  </mat-card-content>

</mat-card>

<ng-template #loading>
    <mat-spinner [diameter]="20"></mat-spinner>
</ng-template>
